.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-bg{
  background-image: url('images/homeBanner1.jpg');
}

.reg-bg {
  background-image: url('images/fruit.jpg');
  background-repeat: no-repeat;
  
}

.home-bg{
  
  background-image: url('images/vege.jpg');

}

.store-banner{
  background-image: url('images/storeBanner.png');
}

.card-bg{
  /* background: linear-gradient(180deg, #159B42 91.15%, rgba(129, 108, 212, 0) 100%); */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 11px;
  /* background-color: rgba(21, 155, 66, 1); */
}

.reg-input{
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  outline: none;
}

.z{
  z-index: 12;
}

.box{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.shop-by{
  background-image: url("./images/ShopByCategory1.jpg");
}

/* #check:checked ~{

  

} */

@media screen and (max-width:440px) {

  .pd{
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  
}
